/* html {
    font-family: 'Nunito', sans-serif;
    background-color: #ffd5cd;
    font-size: 100;
    color: #8675a9
} */

html {
    font-family: 'Nunito', sans-serif;
    background-color: #f1f3f8;
    font-size: 100;
    color: #393b44
}

.navigationBar {
    
}